html {
  font: 112.5%/1.444444444 "Runda", "Helvetia Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
  background-color: #f0f2f4;
  overflow: hidden;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  user-select: none;
}

.main-input {
  margin: 0px 5px 2px 4px;
  border: none;
  font-size: 24px;
  width:100%;
  outline: none;
  color: #67626d;
  word-break: break-word;
  background-color: transparent;
  background-image: none;
  resize: none;
  overflow: hidden;

  -webkit-appearance: none;
}

::-webkit-input-placeholder {color: #b2b9be;}
:-moz-placeholder {color: #b2b9be;}
::-moz-placeholder {color: #b2b9be;}
:-ms-input-placeholder {color: #b2b9be;}

video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}

.pattern {
  position: fixed;
  opacity: 0.8;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -50;
  background-image:url('/static/overlay.png');
}

.bottom {
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: right;
  font: 112.25%/1.444444444 "Runda", "Helvetia Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  color: #a2a9ae;
}

i {
  font-size: 18px;
}
