html {
  font: 112.5%/1.444444444 "Runda", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
  background-color: #fafafa;
  overflow: hidden;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-input {
  margin: 0px 5px 2px 4px;
  border: none;
  font-size: 24px;
  width:100%;
  outline: none;
  color: #67626d;
  word-break: break-word;
  background-color: transparent;
  resize: none;
}

::-webkit-input-placeholder {color: #97929d;}
:-moz-placeholder {color: #97929d;}
::-moz-placeholder {color: #97929d;}
:-ms-input-placeholder {color: #97929d;}

video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}

.pattern {
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -50;
    background-image:url('/static/overlay.png');
}
