<!doctype html>
<html lang="en">
  <head>
    <title>Playr</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/grid.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <script type="text/javascript" src="/static/zepto.min.js"></script>
    <script type="text/javascript" src="/static/zepto.fx.js"></script>
    <script>
      Zepto(function($) {
          $('.container').animate({opacity:1},800,'ease-out');
      });
      $(window).keydown(function(event){
        url = $('#url');
        if(event.which==13) {
          event.preventDefault();
          val = url.val();
          if(val.length<2) return;
          $('#loader').animate({opacity:1},250,'ease-out');
          $.post('/playr/',$('#form').serialize(),function(data) {
            if(data=='url') {
              url.attr({placeholder:val});
            }else if(data.indexOf('control:')==0) {
              url.attr({placeholder:data.slice(8)});
            }else {
              url.attr({placeholder:'Cannot play media'});
              //DEBUG
              //url.attr({placeholder:data});
            }
            url.val('');
            $('#loader').animate({opacity:0},250,'ease-out');
          });
        }else {
          if(url.val().length > 0)
            url.attr({placeholder:'http://'});
        }
      });
    </script>
  </head>
  <body>
    <div class="container" style="opacity:0;">
      <div class='row'></div>
      <div class='row'>
          <div class='span ten'><h2><small>&#9654;</small>Playr
            <img id="loader" width="28" height="28" src="/static/loading.gif" style="vertical-align:middle;opacity:0;" alt="loading">
          </h2></div>
      </div>
        <form id="form">
          <div class='span ten'>
              <textarea autofocus autocomplete="off" onblur="this.focus();return false" id="url" name="url" class="main-input" placeholder="http://" rows="50"></textarea>
          </div>
        </form>
        <p class="bottom">
          <b>Controls</b> </br>
          play  <i>resume playing.</i></br>
          pause <i>pause media.</i></br>
          ff  <i>fast-forward 30 seconds.</i></br>
          rw  <i>rewind 30 seconds.</i></br>
          queue <i>add new url to queue.</i></br>
          clear  <i>reset queue.</i></br>

        </p>
    </div>
  </body>
</html>
